.header
{
    position: sticky;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: auto;
    background: linear-gradient(0deg, rgb(20, 20, 20), rgb(30, 30, 30));
    border-bottom: 1px dotted #777777;
}

.inside
{
    margin: auto 12px;
}