body
{
    font-family: Arial, Helvetica, serif;
    font-size: 1.1rem;
    color: white;
    background: rgb(30, 30, 30);
    line-height: 1.6;
}

a
{
    color: lightgrey;
    text-decoration: underline;
}

h1, h2, h3
{
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: 0.5em;
}

code
{
    font-family: monospace;
    background: #ededed;
    border-radius: 3px;
    padding: 0.2em 0.4em;
}