.navbar
{
    margin: auto 0;
}

.list
{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 1rem;
    overflow: hidden;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}

.link
{
    display: block;
    padding: 1rem 0.5rem;
    color: white;
    text-decoration: none;
    text-align: center;
}

.link:hover
{
    transition: text-decoration 100ms ease-in-out;
    text-decoration: underline 1px dotted white;
}